/**
 * ----------------------------------------
 *                 code
 * ----------------------------------------
 */
div[class*="language-"] {
    background-color: #343434;
}
html.dark {
    div[class*="language-"] {
        background-color: hsla(0, 0%, 19%, 1);
    }
}
div[class*="language-"] .highlight-lines .highlight-line {
    background: #5a5a5a;
    border-left: 4px solid rgb(125, 211, 252);
    // border-left: 4px solid rgb(56, 189, 248);
}
div[class*=language-] pre[class*=language-] {
    margin-top: 18px;
}

.code-group__nav {
    background-color: hsla(220, 13%, 18%, 0.878);
    // background: linear-gradient(rgba(40, 44, 52, 0.878), rgba(42, 42, 74, 0.75));
    background: linear-gradient(rgba(40, 44, 52, 0.878), rgb(29 29 34 / 75%));
}

.code-group__li {
    border-bottom: rgb(125, 211, 252) 2px solid;
    color: rgb(125, 211, 252);
    // background: #46617e;
    border: 1px solid #bed6ef;
    margin-top: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
    margin-left: 10px;
}
.code-group__li,
.code-group__nav-tab {
    border-radius: 15px;
}
.code-group__nav-tab {
    padding: 5px 16px;
    margin: 0;
    min-width: 80px;
}
.code-group__nav-tab-active {
    border-bottom: none;
    background: #46617e;
}

html:not(.dark) {
    .code-group {
        box-shadow: 4px 4px 30px #848484;
        border-radius: 5px;
        div[class*="language-"] {
            border-radius: 0 0 5px 5px;
        }
    }
}

// second
.code-group__li,
.code-group__nav-tab {
    border-radius: 0;
}

.code-group__li {
    margin-left: 0;
}

.code-group__li + .code-group__li {
    border-left-width: 0;
}

// code-group radius
.code-group__li {
    overflow-x: hidden;
}
.code-group__li:first-child {
    border-radius: var(--code-group-radius) 0 0 var(--code-group-radius);
}
.code-group__li:last-child {
    border-radius: 0 var(--code-group-radius) var(--code-group-radius) 0;
}

/**
 * ----------------------------------------
 *          navbar
 * ----------------------------------------
 */

.navbar {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

html:not(.dark) .navbar {
    background: hsla(0, 0%, 100%, 0.87);
    border-bottom: none;
    box-shadow: 0 1px 4px rgba(108, 97, 97, 0.1);
}

.arrow.down {
    display: none;
}

/**
 * ----------------------------------------
 *          sidebar
 * ----------------------------------------
 */
.sidebar-item:not(.sidebar-heading) {
    padding-left: 1rem;
}

.sidebar-item.active:not(p.sidebar-heading) {
    border-left-color: rgb(56 189 248/1);
}

// 侧边栏标题
.sidebar-item.sidebar-heading {
    // display: none;
    visibility: hidden;
}

html:not(.dark) {
    .sidebar {
        // background-color: #f6feff;
        // background-color: #f4f6fa;
        background-color: #f9faff;
    }
}

.sidebar {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        // background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #3131318c;
        border-radius: 2.5px;
    }
}

html.dark {
    .sidebar {
        &::-webkit-scrollbar-thumb {
            background: #9bb1c0c1;
        }
    }
}

html:not(.dark) .sidebar-item.active:not(p.sidebar-heading) {
    color: #1c1c1c;
}

html:not(.dark) .sidebar-item {
    color: #0d0d0d63;
}

.sidebar .sidebar-items {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

// 侧边栏active样式
.sidebar-item-children li > a.sidebar-item.active:not(p.sidebar-heading) {
    background: #f3f6f8;
    width: 90%;
}

html.dark {
    .sidebar-item-children li > a.sidebar-item.active:not(p.sidebar-heading) {
        background: #43494d;
    }
    .sidebar-item-children .sidebar-item-children li > a.sidebar-item.active:not(p.sidebar-heading) {
        background: transparent;
    }
    .sidebar-item.active:not(p.sidebar-heading) {
        color: #5ebdd2;
    }
}

.sidebar-item-children .sidebar-item-children li > a.sidebar-item.active:not(p.sidebar-heading) {
    background: transparent;
}

.sidebar-item:not(.sidebar-heading) {
    line-height: 1.6;
}

/**
 * ----------------------------------------
 *          sidebar-button
 * ----------------------------------------
 */

@media screen and(min-width: 900px) {
    .toggle-sidebar-button {
        display: block;
        top: 4rem;
        left: 0.5rem;
        padding: 26px 140px 50px 140px;
        opacity: 0.02;
        transition: opacity 0.15s ease 0.1s;
        -wbkit-transition: opacity 0.15s ease 0.1s;
        .icon {
            transform: scale(1.5);
        }
    }
    .toggle-sidebar-button:hover {
        opacity: 1;
    }
    .sidebar {
        transform: translate(-100%);
    }
    .theme-container.sidebar-open .sidebar {
        transform: translate(0);
    }
    .theme-container:not(.sidebar-open) .page {
        padding-left: 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
    .page {
        transition: 0.3s ease 0.03s;
        -webkit-transition: 0.3s ease 0.03s;
    }
}

/**
 * ----------------------------------------
 *                  code
 * ----------------------------------------
 */

.code-group__nav {
    position: relative;
    padding-top: 30px;
}

.code-group__ul:before,
.code-group__nav:before,
.code-group__nav:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 1rem;
    border-radius: 50%;
    display: inline-block;
    background: #f4bf4f;
}

.code-group__nav:before {
    left: 3.6rem;
    background: #61c554;
}

.code-group__nav:after {
    left: 1rem;
    background: #ed6a5e;
}

.code-group__ul {
    position: relative;
}
.code-group__ul:before {
    left: 1.7rem;
    top: -14px;
    background: #f4bf4f;
}


.code-group__nav {
    padding-top: 40px;
}

.code-group__ul:before {
    top: -24px;
}

.code-group__nav-tab-active {
    border-bottom: none;
}


/* 导航栏下拉框列表 */
@media (min-width: 720px) {
    .navbar-dropdown-wrapper .navbar-dropdown {
        box-shadow: 0 0.0625rem 0.3125rem 0.0625rem rgb(0 0 0 / 12%);
        border-radius: 0.6rem;
        max-height: 500px;
        padding: 1rem 0px;
        // padding: 1rem 0px;
        list-style: none;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: hsla(0, 0%, 100%, 0.82);
        transform: translateX(43%);
        -webkit-transform: translateX(43%);
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        border: none;
    }

    .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a {
        padding: 3px 45px;
    }
    .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover {
        background-color: #f8f9fad8;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item .navbar-dropdown-subtitle > span {
        padding: 0 1.5rem 0 2.5rem;
    }
    .navbar-dropdown-wrapper .navbar-dropdown-title {
        padding: 6px 0;
    }

    .navbar-items .navbar-item {
        margin: 20px 15px;
    }
    .navbar .navbar-items-wrapper {
        justify-content: center;
        align-items: center;
    }

    html.dark {
        .navbar-dropdown-wrapper .navbar-dropdown {
            background: hsla(0, 0%, 20%, 0.886);
        }
        .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover {
            background-color: hsla(0, 0%, 27%, 0.847);
            color: hsla(168, 61%, 69%, 0.847);
        }
    }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(30px) translateX(43%);
        transform: translateY(30px) translateX(43%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(3px) translateX(43%);
        transform: translateY(3px) translateX(43%);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(30px) translateX(43%);
        transform: translateY(30px) translateX(43%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(3px) translateX(43%);
        transform: translateY(3px) translateX(43%);
        opacity: 1;
    }
}

@media (min-width: 720px) {
    html:not(.dark) {
        * {
            // transition: 0.15s ease;
            // -webkit-transition: 0.15s ease;
        }
        .no-sidebar {
            background: rgb(243, 251, 255);
            .toggle-sidebar-button {
                visibility: hidden;
            }
        }
        .sidebar .sidebar-items {
            padding-top: 3.5rem;
        }
    }

    html.dark {
        * {
            transition: 0.15s ease;
        }
        .no-sidebar {
            background: hsla(0, 0%, 27%, 0.847);
        }
        tr:nth-child(2n) {
            background: rgba(75, 75, 75, 0.744);
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
        }
        .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover {
            color: rgb(141, 214, 245);
        }
        th,
        td {
            border-color: #6a6a6b;
        }
    }
}

/* ========== tip, warning =========== */
.custom-container {
    position: relative;
}

.custom-container:before {
    position: absolute;
    top: 19px;
    left: -14px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
}

.custom-container.danger:before,
.custom-container.warning:before,
.custom-container.tip:before {
    width: 25px;
    height: 25px;
    left: -16px;
}

.custom-container.tip:before {
    content: url(https://v3.cn.vuejs.org/images/icons/bulb.svg);
}

.custom-container.warning:before {
    content: url(https://v3.cn.vuejs.org/images/icons/danger.svg);
}

.custom-container.danger:before {
    content: url(https://v3.cn.vuejs.org/images/icons/stop.svg)
}
