// 外部链接样式
.external-link-icon {
    display: none;
}

// 亮色代码
html:not(.dark) div[class*="language-"] .highlight-lines .highlight-line {
    background-color: rgb(32 108 101);
}
html.dark div[class*="language-"] .highlight-lines .highlight-line {
    background-color: #5d6880;
}


/* ============ 导航栏 =========== */
html:not(.dark) .navbar {
    background: hsla(0, 0%, 100%, 0.87);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.arrow.down {
    display: none;
}

/* ============ 侧边栏 =========== */
.sidebar-item:not(.sidebar-heading) {
    padding-left: 1rem;
}

.sidebar-item.active:not(p.sidebar-heading) {
    border-left-color: rgb(56 189 248/1);
}

// 侧边栏标题
.sidebar-item.sidebar-heading {
    display: none;
}

html:not(.dark) .sidebar {
    // background-color: #f6feff;
    background-color: #e5e7eb;
}

html:not(.dark) .sidebar-item.active:not(p.sidebar-heading) {
    color: #1c1c1c;
}

html:not(.dark) .sidebar-item {
    color: #0d0d0d63;
}
