:root {
    scroll-behavior: smooth;
    // --c-brand: rgb(75, 174, 219);
    --c-bg-navbar: hsla(0, 0%, 100%, 0.76);
}

html.dark {
    --c-bg-navbar: rgba(24, 26, 29, 0.8);
}


@media screen and(min-width: 900px) {
    h1[tabindex="-1"] {
        font-size: 3.6rem;
        text-align: center;
        text-transform: capitalize;
        margin: 10rem;
        padding: 70px 0 40px 0;
        border-bottom: 1px solid black;
    }
}

@media screen and(max-width: 480px) {
    .page {
        padding-bottom: 0;
    }
    .page-nav {
        border-radius: 0 !important;
    }
}

.page-nav {
    /* max-width: initial; */
    // padding-bottom: 1rem;
    background: #282c34;
    border-radius: 20px;
    margin-top: 30px;
}
/*
html:not(.dark) {
    .page-nav {
        background: transparent;
    }
    .inner .prev a,
    .inner .next a {
        color: #323323;
    }
}
*/

.page-nav .inner {
    border-top: none;
    padding: 50px 0 20px 0;
}

.inner .prev a,
.inner .next a {
    position: relative;
    font-size: 30px;
    color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #6d6d6d;
    -webkit-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.inner .prev a:hover {
    border-color: #fff;
}

.page-nav .prev a::before {
    color: #61dafb;
    font-size: 14px;
    content: "上一篇";
    position: absolute;
    left: 0;
    top: -70%;
}

.page-nav .next a::after {
    color: #61dafb;
    font-size: 14px;
    content: "下一篇";
    position: absolute;
    right: 0;
    top: -70%;
}
