/**
 * ---------------------------------------
 *                code-demo
 * ---------------------------------------
 */

.code-demo-wrapper {
    position: relative !important;
    margin: 70px 0 30px 0 !important;
    // border-radius: 0 0 10px 10px !important;
    border: 1px solid #282c34 !important;
    border-radius: 10px !important;
    overflow: hidden !important;

    & > .demo-wrapper {
        padding: 70px 20px 20px 20px !important;
        border-bottom: none !important;
    }

    &:nth-child(2) {
        width: -webkit-fill-available;
    }

    // .code-demo-footer {
    .code-demo-header {
        position: absolute !important;
        top: -5px !important;
        // left: 0;
        left: -1px !important;
        background: #484c50 !important;
        color: white !important;
        // width: 100% !important;
        border-radius: 10px 10px 0 0 !important;
        z-index: 10;
        border-left: 1px solid #282c34 !important;
        border-right: 1px solid #282c34 !important;
        border-top: 1px solid #282c34 !important;
        --code-demo-footer-padding: 10px;
        padding-left: var(--code-demo-footer-padding) !important;
        padding-right: var(--code-demo-footer-padding) !important;
        padding-bottom: var(--code-demo-footer-padding) !important;
        padding-top: calc(var(--code-demo-footer-padding) / 1) !important;
        width: calc(100% - var(--code-demo-footer-padding) * 2) !important;
        // display: flex !important;

        .toggle-button {
            border-radius: 50% !important;
            background-color: transparent;
        }

        &:hover .toggle-button {
            background-color: #eef4fcf0 !important;
            transition-delay: .15s;
        }

        .code-demo-jsfiddle {
            position: absolute;
            right: 50px;
            top: 70%;
            transform: translateY(-50%);
            display: none !important;
        }

        .code-demo-codepen {
            position: absolute !important;
            right: 16px !important;
            top: 50% !important;
            transform: translateY(-50%) !important;

            // transition-delay: 0s !important;
            button[type="submit"] {
                // background-color: transparent !important;
                background-color: rgba(255, 255, 255, 0.5) !important;
                transition: all .15s ease !important;
                &::before,
                &::after {
                    display: none !important;
                }
                path {
                    fill: rgba(39, 38, 38, 0.7) !important;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 1) !important;
                }
            }
        }
    }

    .code-wrapper .code-container {
        & > div[class*=language-]:first-child pre {
            margin-top: 16px !important;
        }
        & > div[class*=language-] .copy-code-button {
            bottom: 5px !important;
        }
    }
}


html.dark {
    .code-demo-wrapper {
        border: 1px solid #4b5468 !important;
    }
    // .code-demo-footer {
    .code-demo-header {
        color: rgba(255, 255, 255, 0.7)!important;
        .toggle-button {
            background-color: #6b7077f0 !important;
        }
        &:hover .toggle-button {
            background-color: rgb(54 59 70 / 94%) !important;
        }
    }
}
