/**
 * ----------------------------------------
 *                 code
 * ----------------------------------------
 */
div[class*="language-"] {
    background-color: #343434;
}
html.dark {
    div[class*="language-"] {
        background-color: hsla(0, 0%, 19%, 1);
    }
}
div[class*="language-"] .highlight-lines .highlight-line {
    background: #5a5a5a;
    border-left: 4px solid rgb(125, 211, 252);
}
div[class*=language-] pre[class*=language-] {
    margin-top: 18px;
}

.code-group__nav {
    background-color: hsla(220, 13%, 18%, 0.878);
    // background: linear-gradient(rgba(40, 44, 52, 0.878), rgba(42, 42, 74, 0.75));
    background: linear-gradient(rgba(40, 44, 52, 0.878), rgb(29 29 34 / 75%));
}

.code-group__li {
    border-bottom: rgb(125, 211, 252) 2px solid;
    color: rgb(125, 211, 252);
    // background: #46617e;
    border: 1px solid #bed6ef;
    margin-top: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
    margin-left: 10px;
}
.code-group__li,
.code-group__nav-tab {
    border-radius: 15px;
}
.code-group__nav-tab {
    padding: 5px 16px;
    margin: 0;
    min-width: 80px;
}
.code-group__nav-tab-active {
    border-bottom: none;
    background: #46617e;
}

html:not(.dark) {
    .code-group {
        box-shadow: 4px 4px 30px #848484;
        border-radius: 5px;
        div[class*="language-"] {
            border-radius: 0 0 5px 5px;
        }
    }
}

// second
.code-group__li,
.code-group__nav-tab {
    border-radius: 0;
    white-space: nowrap;
}

.code-group__li {
    margin-left: 0;
}

.code-group__li + .code-group__li {
    border-left-width: 0;
}

// code-group radius
.code-group__li {
    overflow-x: hidden;
}
.code-group__li:first-child {
    border-radius: var(--code-group-radius) 0 0 var(--code-group-radius);
}
.code-group__li:last-child {
    border-radius: 0 var(--code-group-radius) var(--code-group-radius) 0;
}


div[class*=language-].line-numbers-mode .line-numbers .line-number {
    height: auto !important;
}