.gsc-reactions-count {
    color: red !important;
}

.gsc-header {
    background-color: red !important;
}
.gsc-comment-box {
    border: none !important;
}

.gsc-comment-box-bottom {
    display: none !important;
}