.custom-container {
    position: relative;
}

.custom-container:before {
    position: absolute;
    top: 21px;
    left: 16px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    font-weight: 700;
    font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
}

.custom-container.danger,
.custom-container.warning,
.custom-container.tip {
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    border-left-width: 0.2rem;
}

.custom-container.tip:before {
    // content: url(https://v3.cn.vuejs.org/images/icons/bulb.svg);
    content: "!";
    background-color: #42b983;
}

.custom-container.warning:before {
    // content: url(https://v3.cn.vuejs.org/images/icons/danger.svg);
    content: "!";
    background-color: #ffa500;
}

.custom-container.danger:before {
    // content: url(https://v3.cn.vuejs.org/images/icons/stop.svg);
    content: "!";
    background-color: #f66;
}

.custom-container.tip {
    background: var(--c-tip-bg);
}

p.custom-container-title {
    padding-left: 32px;
}
