/**
 * ----------------------------------------
 *               点击查看详情
 * ----------------------------------------
 */
.custom-container.details summary {
    position: relative;
    padding-left: 30px;
    user-select: none;
    -webkit-user-select: none;
}

.custom-container.details summary::-webkit-details-marker,
.custom-container.details summary::marker {
    color: transparent;
}



.custom-container.details summary:before {
    content: "\f144";
    font-family: FontAwesome;
    font-size: 2em;
    display: inline-block;
    color: transparent;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    // left: -17px;
    left: 0;
    background: #c3d5f1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.custom-container.details summary:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: rgb(255, 252, 252);
    transform: rotate(90deg);
    -webkit-clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
    transition: all 0.3s ease-in-out .01s;
    -webkit-transition: all 0.3s ease-in-out .01s;
}

.custom-container.details {
    background: var(--detail-bg);
    border-radius: 30px;
    transition: all .3s ease-in-out .01s;
    -webkit-transition: all .3s ease-in-out .01s;
}

.custom-container.details[open] summary::before{
    background:#a6c5f7;
}
.custom-container.details[open] summary::after {
    background: #61dafb;
    transform: translate(-3px, 3px) rotate(180deg);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}