/**
 * ------------------------------
 *         导航栏下拉框列表
 * ------------------------------
 */
@media (min-width: 720px) {
    .navbar-dropdown-wrapper .navbar-dropdown {
        box-shadow: 0 0.0625rem 0.3125rem 0.0625rem rgb(0 0 0 / 12%);
        border-radius: 0.6rem;
        max-height: 500px;
        padding: 1rem 0px;
        // padding: 1rem 0px;
        list-style: none;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: hsla(0, 0%, 100%, 0.82);
        transform: translateX(43%);
        -webkit-transform: translateX(43%);
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        border: none;
    }

    .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a {
        padding: 3px 45px;
    }
    .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover {
        background-color: #f8f9fad8;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item .navbar-dropdown-subtitle > span {
        padding: 0 1.5rem 0 2.5rem;
    }
    .navbar-dropdown-wrapper .navbar-dropdown-title {
        padding: 6px 0;
    }

    .navbar-items .navbar-item {
        margin: 20px 15px;
    }
    .navbar .navbar-items-wrapper {
        justify-content: center;
        align-items: center;
    }

    html.dark {
        .navbar-dropdown-wrapper .navbar-dropdown {
            // background: hsla(0, 0%, 20%, 0.886);
            background: hsla(0, 0%, 20%, 0.486);
        }
        .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover {
            background-color: hsla(0, 0%, 27%, 0.847);
            color: hsla(168, 61%, 69%, 0.847);
        }
    }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(30px) translateX(43%);
        transform: translateY(30px) translateX(43%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(3px) translateX(43%);
        transform: translateY(3px) translateX(43%);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(30px) translateX(43%);
        transform: translateY(30px) translateX(43%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(3px) translateX(43%);
        transform: translateY(3px) translateX(43%);
        opacity: 1;
    }
}

@media (min-width: 720px) {
    .sidebar .sidebar-items {
        padding-top: 3.5rem;
    }
    html:not(.dark) {
        .no-sidebar {
            background: rgb(243, 251, 255);
            .toggle-sidebar-button {
                visibility: hidden;
            }
        }
    }

    html.dark {
        .no-sidebar {
            background: hsla(0, 0%, 27%, 0.847);
        }
        tr:nth-child(2n) {
            background: rgba(75, 75, 75, 0.744);
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
        }
        .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a:hover {
            color: rgb(141, 214, 245);
        }
        th,
        td {
            border-color: #6a6a6b;
        }
    }
}
